
* {
  margin: 0;
  color: azure;
  box-sizing: border-box;
}

html{
  
}

body {
  background-color: #2f2f35;
  background-image: linear-gradient(43deg, #2f2f35 0%, #564c55 53%, #94630a 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-decoration: none;
  
  
}

li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0.5rem; /* Adjust spacing */
}


header {
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Adjust padding */
}

iframe {
  border-radius: 20px;
  object-fit: cover;
}

.myName {
  font-size: 36px; /* Adjust font size for smaller screens */
  font-weight: 900;
  margin: 0;
}

.myTitle {
  margin-top: 5px;
  font-weight: 800;
}

.home-intro-box {
  display: flex;
  flex-direction: column; /* Stack elements on smaller screens */
  align-items: center;
  text-align: center; /* Center text */

}








@media screen and (max-width: 767px) {
  
iframe{
  width: auto;
  object-fit: cover;
}
.project-info{
  width: 300px;
  text-align: center;
}
.about-me{
  width:auto
}

}


.project-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


 
.gojo{
  width: 100px;
  height: 100px;
  filter: drop-shadow(3px 3px #0a0808);
}

.selfie{
  object-fit: contain;
}